$background-color: #1f1e2d;
$translucent-background-color: #201f2e1a;
$translucent-background-color-50: #201f2e50;
$text-color: #ffffff;
$primary-color: #cdb0ae;
$translucent-primary-color: #cdb0ae1a;
$secondary-color: #f6f6f8;
$translucent-secondary-color: #f6f6f810;
$translucent-secondary-color-50: #f6f6f850;
$alternate-color: #000000;
$translucent-alternate-color: #00000010;
$accent-color: #bf903d;
$reverse-accent-color: #725116;
$translucent-accent-color: #bf903d1a;

:root[data-theme="light"] {
  --background-color: #fafafc;
  --text-color: #1f1e2d;
  --primary-color: #cdb0ae;
  --secondary-color: #7e7d92;
  --alternate-color: #e6e6e6;
  --text-gradient-color: #5d5c5c;
  --reverse-text-gradient-color: #c0c0c0;
  --loop-grad-start: #1f1e2d;
  --loop-grad-mid: #2c2c2c;
  --loop-grad-end: #7d7d7d;
}

:root[data-theme="dark"] {
  --background-color: #1f1e2d;
  --text-color: #ffffff;
  --primary-color: #cdb0ae;
  --secondary-color: #f6f6f8;
  --alternate-color: #000000;
  --text-gradient-color: #c0c0c0;
  --reverse-text-gradient-color: #757474;
  --loop-grad-start: #ffffff;
  --loop-grad-mid: #c1c0c0;
  --loop-grad-end: #6a6a6a;
}

$header-font: "Bebas Neue", sans-serif;
$alternate-font: "Montserrat Alternates", serif;
$body-font: "Roboto", sans-serif;

$text-sm: 13px;
$text-base: 16px;
$text-lg: 21px;
$text-xl: 28px;
$text-2xl: 37px;
$text-3xl: 50px;
$text-4xl: 67px;
