$background-color: #1F1E2D;
$translucent-background-color: #201f2e1a;
$translucent-background-color-50: #201f2e50;
$text-color: #FFFFFF;
$primary-color: #CDB0AE;
$translucent-primary-color: #CDB0AE1a;
$secondary-color: #F6F6F8;
$translucent-secondary-color: #f6f6f810;
$translucent-secondary-color-50: #f6f6f850;
$alternate-color: #000000;
$translucent-alternate-color: #00000010;
$accent-color: #BF903D;
$translucent-accent-color: #BF903D1a;

$header-font: 'Bebas Neue', sans-serif;
$alternate-font: 'Montserrat Alternates', serif;
$body-font: 'Roboto', sans-serif;

$text-sm: 13px;
$text-base: 16px;
$text-lg: 21px;
$text-xl: 28px;
$text-2xl: 37px;
$text-3xl: 50px;
$text-4xl: 67px;